@import "./../../style/style.scss";

.activity-page {
  background-color: $background-color-secondary;
  color: $color-secondary;
  margin: $margin-secondary;
  padding: $padding-secondary;
  border-radius: $border-radius-primary;

  h1 {
    text-align: center;
    color: $color-secondary;
  }
}
