// Colors
$color-primary: black;
$color-secondary: rgb(255, 255, 255);
$color-tertiary: red;
$color-quaternary: yellow;
// Background colors
$background-color-primary: gray; // pink;
$background-color-secondary: darkgray; //rgb(203, 131, 143);
$background-color-tertiary: yellow;

// Buton colors
$button-background-color-primary: darkgray;
$button-background-color-secondary: gray;
$button-background-color-tertiary: red;
$button-background-color-quaternary: yellow;

$button-background-color-danger: red;

$button-background-color-success: green;

$button-background-color-active: gray;

$button-color-primary: white;

$box-shadow-color-primary: gray;
$box-shadow-color-secondary: darkgray;
$box-shadow-color-tertiary: yellow;

// Disabled colors
$disabled-color-primary: gray;

$color-error: red;
// Border
$border-color-primary: yellow;
