$font-family-primary: "Arial", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$cursive: "cursive";

$font-size-small: 0.7rem;
$font-size-primary: 1rem;
$font-size-secondary: 1.5rem;
$font-size-tertiary: 2rem;
