@import "./../../style/style.scss";

.activity-page {
  background-color: $background-color-secondary;
  color: $color-secondary;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  // margin: $margin-secondary;
  // padding: $padding-secondary;
  // border-radius: $border-radius-primary;

  h1 {
    color: $color-secondary;
    padding-top: 30px;
  }
}
