@import "/src/style/style.scss";

.ActivityDetailsPage {
  background-color: white;
  height: 100vh;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  .activity-box {
    h1,
    p,
    h3 {
      margin-bottom: 5px;
    }

    button {
      background-color: orange;
      border-radius: 3px;
      padding: 1em;
      min-width: 8em;
      max-width: 15em;
      height: fit-content;
      transition: background-color 0.7s ease-in-out;
      border: none;
      color: black;
      outline: 1px solid yellow;
    }

    button:hover {
      background-color: rgb(255, 98, 0);
    }
  }
}
