@import "../../style/style.scss";

.activity-list {
  background-color: $background-color-quaternary;
  color: $color-secondary;
  margin: $margin-secondary;
  padding: $padding-primary;
  border-radius: $border-radius-primary;
  .activity-list-card {
    background-color: $background-color-primary;
    border-radius: $border-radius-primary;
    margin:20px;
    padding: $padding-primary;
    display: flex;
    flex-direction: row;
    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px 5px $box-shadow-color-primary;
    }
    img {
      margin-right: $margin-primary;
      max-height: 150px;
    }
    .activity-list-card-info {
      padding: $padding-primary;
      p {
        color: $color-secondary;
      }
    }
  }
}
